<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fashi_shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_mvp_demo">
        <activity
            android:name=".view.splash_screen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.HomeActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.product_detail.ProductDetailActivity" />
        <activity android:name=".view.product_by_categories.ProductByCategoriesActivity" />
        <activity android:name=".view.cart.CartActivity" />
        <activity android:name=".view.checkout.CheckoutActivity"/>
        <activity android:name=".view.search.SearchActivity"/>
    </application>

</manifest>